<html>
  <head>
    <title>Dear Airbnb</title>
    <meta name="description" content="Letter to Airbnb Generator - Yes on F" />
    <meta name="keywords" content="airbnb, mochimachine, yes on f, san francisco, airbnb bus ads" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <span>A Project by <a href="http://mochimachine.org/" target="_blank">MochiMachine</a></span>
      </div>
    </header>
    <div class="letter">
      <h1>Dear Airbnb,</h1>
        <p>
          <%= letterText%>
        </p>
        <p class="original"><a href="https://www.facebook.com/photo.php?fbid=10100700506082939&set=a.626401026109.2203111.94803916&type=3" target="_blank">The Original Martha Kenney Letter</a></p>
        <h2>Love,</h2>
        <p><%= personName%></p>
      </form>
    </div>
  </body>
</html>