<html>
  <head>
    <title>Dear Airbnb</title>
    <meta name="description" content="Letter to Airbnb Generator - Yes on F" />
    <meta name="keywords" content="airbnb, mochimachine, yes on f, san francisco, airbnb bus ads" />
    <meta name="disclaimer" content="Contents contained within and expressed by these letters do not reflect those of MochiMachine." />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="new-letter">
      <h3>Dear Airbnb,</h3>
      <p><%- letterText%></p>
      <div class="new-letter-close">
        <h3 class="new-love">Love,</h3>
        <h3><%- personName%></h3>
      </div>
    </div>
    <p class="new-letter-attribution">
      <span>A Project by <a href="http://mochimachine.org/" target="_blank">MochiMachine</a></span>
    </p>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>