body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  background-color: #ff5a5f;
  color: white;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

form {
  clear: right;
  margin-bottom: 0;
}

textarea, input {
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 0 2px 0 #c4c4c4;
  color: #565a5c;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

textarea {
  height: 40%;
  width: 100%;
  padding: 0.75em;
  line-height: 1.4em;
}

input {
  padding: 0.5em;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

button {
  display: block;
  float: right;
  height: 3em;
  margin-top: 1em;
  padding: 0 2em;
  background-color: #ff6e72;
  border-radius: 2px;
  border-color: #ff5a5f;
  border-bottom-color: #f40008;
  color: white;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

header {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  text-align: right;
}

.letter {
  clear: right;
  max-width: 70%;
  margin: 0 auto;
  padding: 5% 0;
}

.new-letter {
  clear: right;
  max-width: 70%;
  margin: 0 auto;
  padding: 5% 0;
  font-size: 1.2em;
}

.new-letter-close {
  float: right;
  text-align: left;
}

.new-letter-close h3 {
  margin: 0.1em 0;
}

.dear input {
  max-width: 40%;
  padding: 0.1em 0.25em;
}

h3.new-love {
  margin: 0.5em 0 0 0;
}

.original {
  margin-bottom: 0.3em;
  font-size: 0.8em;
  text-align: right;
}

.love {
  margin: 0.5em 0;
}

.share-options {
  position: absolute;
  bottom: 1%;
  left: 2%;
  display: block;
}

.new-letter-attribution {
  position: absolute;
  bottom: 2%;
  right: 3%;
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  .letter {
    padding: 2.5% 0;
  }

  button {
    float: none;
    margin: 1em auto 0 auto;
  }

  .dear input {
    max-width: 50%;
  }
}
